
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contact Information</h5>
                <p class="grey-text text-lighten-4">Email Contact: dev@dev.com</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" ><ion-icon class="logo-footer" name="logo-linkedin"></ion-icon></a></li>
                  <li><a class="grey-text text-lighten-3"><ion-icon class="logo-footer" name="logo-github"></ion-icon> </a></li>
                  <li><a class="grey-text text-lighten-3" ><ion-icon class="logo-footer" name="logo-facebook"></ion-icon> </a></li>
                  <li><a class="grey-text text-lighten-3"><ion-icon class="logo-footer" name="mail"></ion-icon></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 DevBlog           
            </div>
          </div>
        </footer>

<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

</body>