<link rel="stylesheet" type="text/css" href="./login.css" />        





<form class="login" method="post" action="/admin" >

    <h2>Login</h2>
    
<input type="text"  name="username" placeholder="username"/>
<br>
<input type="password" name="password"  placeholder="password"/>
<br>    
<button id="btn">Log In</button>

</form>

