
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Esteban|Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <link rel="stylesheet" href="/./index.css" />
</head>


<body>
    
   <div class="hamburger-menu">
  <nav class="transparent">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"> <ion-icon style="font-size:45px" name="menu"></ion-icon></a>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/blog">Blog</a></li>
    <li><a href="#About">About Me</a></li>
    <li><a href="#Projects">Projects</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
    </div>
    
    
<div class="hero-image">
    
      <div class="image-overlays" >
    <div class="overlay1">
        
        

      
        <h1 class="hero-name"> Hasan Kataya </h1>
        <div class="index-nav">
        <a href="#About"  >ABOUT ME</a>
        <a href="#Projects" >PROJECTS</a>
        <a href="#Contact" >CONTACT</a>
        </div>
      
        
        </div>
        
         <div class="overlay2">
 
            
             <div class="hero-desc">
             <p class="hero-desc-p">My name is Hasan Kataya. I’m a web developer with a passion for software and a drive for quality.
             </p>
             </div>
        
             <div class="quote"> 
                 <p>"Quality means doing it right when no one is looking." ~Henry Ford </p>
                 
             </div>
        </div>
        
    
    </div>    
    
    <div class="hero-text" id="hero-text" >
    <h1 style="font-weight:900" >WEB <br> DEVELOPER</h1>
  </div>
    
    <div class="blog-btn red-btn">
        
<a class="waves-effect waves-light btn-large" href="/blog">BLOG</a>
        
    </div>
    
  
    
 
</div>

 <div class="underline" > </div>


<div class="About" id="About"> 
    
    
    <h3 data-aos="fade-up" class="about-me"  > About Me </h3>
    

    <div  class="row" data-aos="fade-up" >
        
        <div class="col s12 m12 l8 offset-l2">
            
            <div class="card-panel">
               <div class="overview " >
        
    <img class="profile-pic" src="./images/0.jpg">
        <p>
            
My name is Hasan Kataya. I’m a 19 year old web developer/designer based in Beirut, Lebanon. I am fast paced and a quick learner with a huge passion for software web development, both on the front end as well as the server side. Quality is the main principle of my work. I always strive to build software that is elegant, functional, and performant. I aim to leverage my proficiency in HTML, CSS, JavaScript, and Node.js among other
web technologies to provide the best value to meet your needs. 
 
 


</p>
        
        <div class="red-btn">
        <a class="waves-effect waves-light btn-large" href="./Resume.pdf" download> Download CV </a>
        </div>
    </div>
                        
                      </div>
   
            </div>
        
        
  </div >

    
    <h3 data-aos="fade-up" class="about-me"> Skillset </h3>
  
      <div class="row" data-aos="fade-up">
    <div class="col s12 m12 l8 offset-l2">
      <div class="card-panel skills">
   
    <div >
        <ion-icon class="service-icon" name="brush"></ion-icon>
          <h4 class="service-title"> Design Tools </h4>

            <div class="chip">Adobe Photoshop </div> <div class="chip"> Adobe XD </div> <div class="chip"> Adobe Illustrator </div> <div class="chip"> Responsive Web Design </div>
          </div>
          
          <div>
               <ion-icon class="service-icon"  name="code"></ion-icon>
          <h4 class="service-title">Web Technologies </h4>
        <div class="chip"> HTML </div> <div class="chip"> CSS </div> <div class="chip"> Javascript </div> <div class="chip"> jQuery  </div> <div class="chip"> MongoDB </div> <div class="chip"> Express.js </div>  <div class="chip"> React.js  </div> <div class="chip"> Node.js </div> 
      </div>
          
              <div>
              
               <ion-icon class="service-icon" name="cube"></ion-icon>
            <h4 class="service-title">Software Architectures </h4>
        <div class="chip"> Model-View-Controller (MVC) </div> <div class="chip"> Object Oriented Design (OOD) </div> <div class="chip"> Component-Based Architecture </div> 
               
        </div>
          </div>
        
       
       
      </div>
    </div>
       

    
    
  
    
    <h3 data-aos="fade-up" class="about-me"> Education </h3>
      
   <div class="row" data-aos="fade-up">
    <div class="col s12 m12 l8 offset-l2">
      <div class="card-panel">
     <ion-icon class="service-icon"  name="book"></ion-icon>
     <h4 class="education-title"> Computer Science Student | Lebanese University </h4>
          <p> 2017 - 2020 </p>
               <h4 class="education-title"> High School Degree | Beirut Modern School </h4>
          <p> 2017 </p>

           
       
      </div>
    </div>
       

  </div>
    
        
    </div>
    
    <div class="underline" > </div>

    <div class="work" id="Projects">
    
    <h3 class="work-title"> Projects </h3>
    
    <div class="row">
      
        
    <div data-aos="fade-up" class="card   col s12 m6  l4  flex-content ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="./images/MobileDB.jpg">
    </div>
    <div class="card-content">
        <a href="https://hkataya.github.io/Mobile-Phone-DB/" > <span class="card-title card-title-color  ">The Mobile Phone DataBase </span> </a>
      <p> A web app for viewing mobile phone specifications, prices, and comparisons built with React.js. </p>
       <div class="red-btn ">
<a class="waves-effect waves-light btn-small activator">What I Learned</a>
   
        </div>
        
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> The Mobile Phone DataBase | React.js<i class="right close">&times;</i></span>
      <p> Learned How To: </p>
        <ul class="card-list"> 
    <li> <ion-icon class="bullet" name="radio-button-on"></ion-icon> Develop web applications using React.js front-end framework. </li>
    <li> <ion-icon class="bullet" name="radio-button-on"></ion-icon> Implement the Component-based architecture. </li>
    <li> <ion-icon class="bullet" name="radio-button-on"></ion-icon> Work with Apis. </li>
    </ul>
    </div>
  </div>

        
    <div data-aos="fade-up" class="card col s12 m6 l4 flex-content ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="./images/jcolor.jpg">
    </div>
    <div class="card-content">
    <a href="https://hkataya.github.io/JColor/"> <span class="card-title card-title-color " > JColor | Javascript Color Plugin </span> </a>    
      <p>Jcolor is a simple and lightweight vanilla JavaScript color plugin with no dependencies.</p>
       <div class="red-btn ">
        
<a class="waves-effect waves-light btn-small activator">What I Learned</a>
        
    </div>
        
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> JColor | Javascript Color Plugin <i class="right close">&times;</i></span>
      <p>Learned How To:</p>
        <ul class="card-list"> 
    <li> <ion-icon class="bullet" name="radio-button-on"></ion-icon> Write a Javascript library/plugin that plays nicely with other developers' code.</li>
    </ul>
    </div>
  </div>
        
    <div data-aos="fade-up" class="card  col s12 m6 l4 flex-content">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="./images/Notewall.jpg">
    </div>
    <div class="card-content">
        <a href="https://hkataya.github.io/NoteWall/">  <span class="card-title card-title-color"> NoteWall | Note Taking App </span> </a>
      <p> A simple front end vanilla JavaScript note taking web application using jQuery and LocalStorage API.</p>
       <div class="red-btn ">
        
<a class="waves-effect waves-light btn-small activator">What I Learned</a>
        
    </div>
        
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">NoteWall | Note Taking App<i class="right close">&times;</i></span>
      <p>Learned How To:</p>
    <ul class="card-list"> 
    <li><ion-icon class="bullet" name="radio-button-on"></ion-icon> Use the jQuery javascript library. </li>
    <li><ion-icon class="bullet" name="radio-button-on"></ion-icon> Implement the HTML5 Local Storage API. </li>
    <li><ion-icon class="bullet" name="radio-button-on"></ion-icon> Implement the Model View Controller (MVC) architecture. </li>
    <li><ion-icon class="bullet" name="radio-button-on"></ion-icon> Work with the Javascript Document Object Model(DOM). </li>
    </ul>
    </div>
  </div>
        
    <div data-aos="fade-up" class="card col s12 m6 l4 flex-content ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="./images/videoeditor.jpg">
    </div>
    <div class="card-content ">
   <a href="https://hkataya.github.io/VideoEditorPortfolio/"> <span class="card-title card-title-color"> Portfolio Site | Video Editor </span> </a>
      <p> A video editor portfolio site to showcase video projects and receive quotes from clients.</p>
       <div class="red-btn ">
        
<a class="waves-effect waves-light btn-small activator">What I Learned</a>
        
    </div>
        
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Portfolio Site | Video Editor<i class="right close">&times;</i></span>
      <p>Learned How To:</p>
        <ul class="card-list"> 
    <li><ion-icon class="bullet" name="radio-button-on"></ion-icon> Develop websites using HTML and CSS. </li>
    <li><ion-icon class="bullet" name="radio-button-on"></ion-icon> Develop responsive websites that scale to fit almost any screen. </li>
    </ul>
    </div>
  </div>

        </div>        


        
        
    </div>
    
     <div class="underline" > </div>
    
    
    
  <footer class="page-footer" id="Contact">
      
      <h3 class="contact-title"> Contact </h3>
      <h3 class="col s12 l4 m6 thanks"> Thank you for your visit! </h3>
     
      <h1 data-aos="zoom-in" class="mail col s12 m8 offset-m2 l10 offset-l1"> Say Hello <a href="mailto:hasankataya10@gmail.com" >Hasankataya10@gmail.com </a></h1>
             <div class="row">
             
              <div class="col l612  s12">
                <h3 class="white-text thanks" >Links</h3>
                <ul class="logo-parent">
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/hasan-kataya-130543150/"><ion-icon class="logo-footer" name="logo-linkedin"></ion-icon></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Hkataya"><ion-icon class="logo-footer" name="logo-github"></ion-icon> </a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100007251845309"><ion-icon class="logo-footer" name="logo-facebook"></ion-icon> </a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto: hasankataya10@hotmail.com"><ion-icon class="logo-footer" name="mail"></ion-icon></a></li>
                </ul>
              </div>
            </div>

          <div class="footer-copyright">
            <div class="container">
            © 2019 Hasan Kataya
           
            </div>
          </div>
        </footer>


<script>
 
  
      AOS.init();
    
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
    
   
if (document.documentMode || /Edge/.test(navigator.userAgent)) {
   document.getElementById("hero-text").classList.remove("hero-text");
   document.getElementById("hero-text").classList.add("hero-text-ie");
   
}
    
    
 
    
    


</script>
</body>
